 * {
     padding: 0;
     margin: 0;
 }

.nav {
    background-color: rgb(56, 66, 126);
    color: white;
    div {
        h1 {
            margin-left: 8px;
        }
    }
}

#titulo_principal {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    font-family: 'Hind', sans-serif;
}

.container {
    h3 {
        font-size: 30px;
    }
}

#formulario_persona {
    margin-top: 20px;
}

.btn {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color:  rgb(56, 66, 126)!important;
    color: white!important;
    border-radius: 20px!important;

    &:hover {
        background-color:  rgb(18, 27, 75)!important;
    }
}

.footer {
    margin-top: 20px;
    padding-top: 15px;
    height: 60px;
    background-color: rgb(56, 66, 126);
    color: white;
    p {
        font-size: 15px;
    }
}

#datosUsuario {
    color: rgb(56, 66, 126);
    font-size: 30px;
    font-family: 'Hind', sans-serif;
    margin-top: 30px;
}

#datosAuto {

    p {
        color: black;
        font-size: 14px;
        border: 2px solid;
        border-color: rgb(56, 66, 126);
        border-radius: 14px;
        margin-left: 20px;
        width: 270px;
        padding: 2px;
    }

    .btn {
        margin-left: 20px;
    }
    
}

#cotizacion_resultado {
    display: none;
    margin-top: 10px;

        .plan_cotizacion {
            border: 2px solid;
            border-color: rgb(56, 66, 126);
            border-radius: 20px;
            width: 300px;
            margin-left: 10px;
            margin-top: 20px;
        }
        .lista {
            li {
                list-style-type: none;
            }
        }

        .descripcion {
            text-align: left!important;
        }

        .resultadoFinal {
            color: rgb(56, 66, 126);
            font-size: 30px;
        }
    
        .plan_cotizacion--titulo {
            font-size: 20px;
            font-family: 'Hind', sans-serif;
            padding-top: 20px;
        }
    
        .plan_cotizacion--subtitulo {
            font-size: 20px;
        }
}

#datosEnviados {
    margin-top: 30px;
}

@media (max-width: 375px) and (min-width: 321px) {

    #datosAuto {

        p {
            margin-left: 40px;
            width: 290px;
        }
    
        .btn {
            margin-left: 40px;
        }
        
    }

    #cotizacion_resultado {
    
        .plan_cotizacion {
            width: 340px;
            margin-left: 20px;
        }    
    }
}

@media (max-width: 425px) and (min-width: 376px) {

    #datosAuto {

        p {
            margin-left: 70px;
            width: 290px;
        }
    
        .btn {
            margin-left: 60px;
        }
        
    }
    
    #cotizacion_resultado {
    
        .plan_cotizacion {
            width: 380px;
            margin-left: 24px;
        }    
    }
}

@media (max-width: 1440px) and (min-width: 426px) {

    #datosAuto {

        display: flex;
        flex-direction: row;
        align-items: center;
        height: 60px;

        p {
            flex-direction: row;
            margin-top: 25px;
        }

        .botones {
           display: flex;
           align-items: center;
           flex-direction: row-reverse;
        }
    }
}

@media (max-width: 768px) and (min-width: 426px) {

    #datosAuto {

        p {
            margin-left: 65px;
            width: 290px;
        }

        .botones {
           margin-left: 80px;
        }
        
    }

    #cotizacion_resultado {
    
        .plan_cotizacion {
            width: 230px;
        }  
        
        .plan_cotizacion--titulo {
            font-size: 16px;
        }

        .plan_cotizacion--subtitulo {
            font-size: 18px;
        }

        .plan_cotizacion--desc {
            font-size: 13px;
        }
    }
}

@media (max-width: 1024px) and (min-width: 769px) {

    #datosAuto {

        p {
            margin-left: 75px;
        }

        .botones {
           margin-left: 300px;
        }
        
    }

    #cotizacion_resultado {
    
        .plan_cotizacion {
            margin-left: 15px;
            width: 300px;
        }
    }
}

@media (max-width: 1440px) and (min-width: 1025px) {

    #datosAuto {

        p {
            margin-left: 150px;
        }

        .botones {
           margin-left: 500px;
        }
        
    }

    #cotizacion_resultado {
    
        .plan_cotizacion {
            margin-left: 15px;
            width: 360px;
        }

        .plan_cotizacion--titulo {
            font-size: 25px;
        }
    }
}